/* -----| Vars |----- */
:root {
    --crust: #181926;
    --text: #cad3f5;
    --lilac: #c6a0f6;
    --green: #a6da95;
}


/* -----| Globals |----- */
body {
    overflow: hidden;
    background-color: var(--crust);
    color: var(--text);
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
}

a {
    color: var(--text);
    pointer-events: all;
    z-index: 3;
}

/* -----| CRT |----- */
.crt-layer::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}

.crt-layer::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(#00000033 50%, #00000066 50%);
    z-index: 2;
    background-size: 100% 5px;
    pointer-events: none;
}

.crt-layer {
    pointer-events: none;
}

/* -----| Inner CLI Settings |----- */
.terminal-inner {

    height: 95vh;
    width: 95vw;
    padding-top: 5vw;
    padding-left: 5vw;
    display: block;

    align-items: start;
    justify-content: left;
}

.starter-lines{
    margin-bottom: 8px;
}

.command-line {
    margin-top: 8px;
    pointer-events: all;
}

#cmd-typing {
    left: -9999px;
    position: absolute;
}

/* -----| Cursor Settings |----- */
@keyframes cursor-blink{
    50% {
        opacity: 0;
    }
}

.cursor {
    animation: cursor-blink 0.5s infinite;
}

/* -----| Text-related formatting |----- */
.title-name {
    color: var(--lilac);
}